$images : "/static/images";

.column {
    flex: 1;
}

main {
    display: flex;
    margin-top: 20vh;

    .column.left {
        text-align: end;
    }
    img.portrait {
        height: 40vh;
    }

    .column.right {
        h1 {
            margin-left: -10px; /* Correction for margin of leftmost character. */
            margin-top: 0.2em;
            margin: 0;
            font-size: 20vmin;
        }

        h2 {
            margin-left: -4px; /* Correction for margin of leftmost character. */
            margin-top: 0em;
            margin: 0;
            font-size: 6vmin;
        }

        p {
            font-size: 4vmin;
            margin: 0;
        }
        
        .links {
            margin-top: 1.5rem;
            font-size: 5vmin;

            a {
                margin-right: 0.5rem;
                text-decoration: none;
            }
        }
    }

    @media screen and (orientation:portrait) {
        flex-direction: column;
        margin-top: 5vh;

        .column.left {
            text-align: center;
        }

        .column.right {
            text-align: center;
            margin-top: 0;
        }

        img.portrait {
            margin: 0;
        }
    }
}

footer {
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(#images/bg.jpg) no-repeat;
    background-size: cover; 
    right: 0;
    bottom:0;
}
